* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	outline: none;
}

@font-face {
	font-family: 'Gotham Pro Bold';
	src: url('fonts/GothamPro-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Reg';
	src: url('fonts/GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Medium';
	src: url('fonts/GothamPro-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

section {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 30px 200px;
	background-color: #333;
}

.to-top {
	position: fixed;
	right: 40px;
	bottom: 40px;
	color: #fff;
	font-family: 'Gotham Pro Medium';
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	list-style-type: none
}

a {
	color: #fff;
	font-family: 'Gotham Pro Medium';
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	margin: 0 20px;
}

.section-1 {
	background-image: url('img/1.jpg');
}

.section-2 {
	background-image: url('img/2.jpg');
}

.section-3 {
	background-image: url('img/3.jpg');
}

.section-4 {
	background-image: url('img/4.jpg');
}

.section-5 {
	background-image: url('img/5.jpg');
}

.section-6 {
	background-image: url('img/6.jpg');
}

.section-7 {
	background-image: url('img/7.jpg');
}

.section-8 {
	background-image: url('img/8.jpg');
}

.section-9 {
	background-image: url('img/9.jpg');
}

.section-10 {
	background-image: url('img/10.jpg');
}